@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';
@plugin '@iconify/tailwind4';

@theme {
	--color-*: initial;
	--color-black: oklch(0.2551 0.0015 197.06);
	--color-white: oklch(0.967 0.0101 145.5);
	--color-border: color-mix(in oklch, var(--color-white) 30%, transparent);
	--font-text: 'JetBrains Mono', monospace;
	--font-display: 'Chakra Petch', sans-serif;
}

@layer base {
	main {
		@apply mx-4 flex h-full flex-1 overflow-auto border-x-1 border-x-white/30;
	}
	h1 {
		@apply font-display text-5xl;
	}

	h2 {
		@apply font-display text-3xl;
	}
}

@layer components {
	.corner-focus {
		--focus-t: 1px; /* border thickness */
		--focus-c: var(--color-white); /* color of the border */
		--focus-l: 4px; /* corner width */

		border: var(--focus-t) solid transparent;
		--_g: transparent 90deg, var(--focus-c) 0;
		--_p: var(--focus-l) var(--focus-l) border-box no-repeat;
		@apply box-border focus-visible:outline-none;
	}
	.corner-focus {
		background: none;
	}
	.corner-focus:hover,
	.corner-focus:focus-visible {
		background:
			conic-gradient(from 90deg at top var(--focus-t) left var(--focus-t), var(--_g)) 0 0 /
				var(--_p),
			conic-gradient(from 180deg at top var(--focus-t) right var(--focus-t), var(--_g)) 100% 0 /
				var(--_p),
			conic-gradient(from 0deg at bottom var(--focus-t) left var(--focus-t), var(--_g)) 0 100% /
				var(--_p),
			conic-gradient(from -90deg at bottom var(--focus-t) right var(--focus-t), var(--_g)) 100%
				100% / var(--_p);
	}
}
