@import 'tailwindcss';
@plugin '@iconify/tailwind4';

@font-face {
	font-family: 'Iosevka Web';
	font-display: block;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/Iosevka-Regular-subset.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: block;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/Iosevka-Medium-subset.woff2') format('woff2');
}

@theme {
	--color-*: initial;
	--color-bg: hsl(0, 0%, 0%);
	--color-panel: hsl(0, 0%, 3%);
	--color-border: hsl(0, 0%, 12%);
	--color-accent: hsl(0, 0%, 90%);
	--color-fg: hsl(0, 0%, 70%);
	--color-muted: hsl(0, 0%, 50%);

	--font-text: 'Iosevka Web', monospace;

	--animate-corner-breathe: corner-breathe 750ms var(--ease-default) infinite;
	--animate-corner-breathe-out: corner-breathe-out 250ms linear;
	--ease-default: cubic-bezier(0.4, 0, 0.6, 1);
	--timing-default: 150ms;
}

@layer base {
	body {
		font-variant-ligatures: none;
	}

	h1 {
		@apply text-2xl font-medium;
	}

	h2 {
		@apply text-xl font-medium;
	}

	pre {
		@apply font-text text-sm leading-4 md:text-base md:leading-5;
	}
}

@layer components {
	.transition-default {
		transition: all var(--timing-default) var(--ease-default);
	}

	.corner-focus {
		--focus-t: 1px; /* thickness */
		--focus-c: var(--color-accent); /* color */
		--focus-l: 4px; /* length */
		--_g: transparent 90deg, var(--focus-c) 0;
		--_p: var(--focus-l) var(--focus-l) border-box no-repeat;
		position: relative;
		outline-style: none;
	}

	.corner-focus::before {
		content: '';
		position: absolute;
		inset: 0px;
		pointer-events: none;
		opacity: 0;
		background:
			conic-gradient(from 90deg at top var(--focus-t) left var(--focus-t), var(--_g)) 0 0 /
				var(--_p),
			conic-gradient(from 180deg at top var(--focus-t) right var(--focus-t), var(--_g)) 100% 0 /
				var(--_p),
			conic-gradient(from 0deg at bottom var(--focus-t) left var(--focus-t), var(--_g)) 0 100% /
				var(--_p),
			conic-gradient(from -90deg at bottom var(--focus-t) right var(--focus-t), var(--_g)) 100%
				100% / var(--_p);
		transition: opacity var(--timing-default) var(--ease-default);
	}
	.corner-focus:hover::before,
	.corner-focus:focus-visible::before {
		opacity: 1;
	}

	.slide-in {
		display: inline-block;
		opacity: 0;
		animation:
			slide-in-left var(--timing-default) forwards var(--ease-default),
			fade-in var(--timing-default) forwards var(--ease-default);
	}

	.fade-in {
		display: inline-block;
		opacity: 0;
		animation: fade-in var(--timing-default) forwards var(--ease-default);
	}

	.link {
		outline-style: none;
		color: var(--color-muted);
		transition: all var(--timing-default) var(--ease-default);
		border-bottom: 1px solid var(--color-border);
	}

	.link:hover,
	.link:focus-visible {
		color: var(--color-accent);
		border-bottom: 1px solid var(--color-accent);
	}
}

@keyframes slide-in-left {
	from {
		transform: translateX(-5%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

::selection {
	background: var(--color-accent);
	color: var(--color-bg);
}
